@model mvc_minitwit.Models.User

@{
    ViewData["Title"] = "Signup";
}

<h2>Sign Up</h2>
    
@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

                    <div class="form-group">
                        <dt>Username:</dt>
                        @Html.TextBoxFor(m => m.username, "", new { @class = "form-control", @placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "badge badge-danger" })

                    </div>
                    <div class="form-group">
                        <dt>E-mail:</dt>
                        @Html.TextBoxFor(m => m.email, "", new { @class = "form-control", @placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                    </div>
                    <div class="form-group">
                        <dt>Password:</dt>
                        @Html.PasswordFor(m => m.pw_hash, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.pw_hash, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <dt>Confirm Password:</dt>
                        @Html.PasswordFor(m => m.pw_hash2, new { @class = "form-control", @placeholder = "Confim Password" })
                        @Html.ValidationMessageFor(m => m.pw_hash2, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="SignUp"/>
                    </div>

        }